* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Press Start 2P', cursive;
}

.play > h1 {
    margin: 8vh 0;
    font-size: 48px;
    line-height: 110px;
}

.play > h1 > span {
    font-size: 82px;
    text-transform: uppercase;


}

.play > button {
    font-size: 30pt;
    font-family: 'Press Start 2p';

    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: dimgray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
}

.play > button:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.menu {
    font-size: 20pt;
    font-family: 'Press Start 2p';
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0 30px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: dimgray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
}

.menu:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.choose-map {
    margin-bottom: 100px;
}

.choose-map h1 {
    margin: 8vh;
    font-size: 56px;
}


.choose-map h2 {
    font-size: 32px;
    margin: 20px 0;
    font-weight: 900;
}

.choose-map > div {
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 80px;
}

.choose-map > div > button {
    border-radius: 10px;
    box-shadow: .4em .4em gray;
    cursor: pointer;
}

.choose-map > div > button:active {
    box-shadow: none;
    position: relative;
    top: .4em;
    left: .4em;
}

.choose-map > div > button > img {
    display: block;
    height: 300px;
}

.menu,
.game,
.choose-map,
.create-map,
.win {
    display: none;
}

.win {
    position: absolute;
    padding: 30px;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    -webkit-box-shadow: 6px 5px 14px 5px rgba(0,0,0,0.52);
    box-shadow: 6px 5px 14px 5px rgba(0,0,0,0.52);
}

.win h3 {
    margin: 10px 10px;
}

.win img {
    width: 0;
}

.game > h1 {
    margin: 10px 0 20px;
}

.map-box {
    margin: 30px;
}

.demensions {
    margin: 30px;
}

.el {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    background-color: gray;
}

.row {
    display: block;
    margin: 0;
}

.player {
    background-color: red;
}

.wall {
    background-color: darkslateblue;
}

.ground {
    background-color: lightpink;
}

.finish {
    background-color: deepskyblue;
}